mixin btns_frame(params)
	.holderBtn
		.mainImg(id="#{params.elId}-btn")
		.mainImg(id="#{params.elId}-hover")
		.hoverInfo
			h3= params.info
		.squareHold(id="#{params.elId}-square")
			.lines.top-line
			.lines.left-line
			.lines.bottom-line
			.lines.right-line

mixin btns_nav(params)
	a(href="/#{params.link}")
		.innerLinks(id="#{params.link}-nav")
			.hoverColor
			p= params.name

mixin btns_Main(params)
	a(href="#{params.link}")
		.halfs.medios(id="#{params.elId}")
			.hold_visible
				h2.anima-type= params.name
			.hold_hover
				.topInfo
					h3.anima-type= params.name
				.lineMidle
				.extractInfo
					p.anima-type= params.info
				.conoce_mas
					p Conoce más